<!DOCTYPE html>
<html lang="ko ng-app">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <style type="text/css">
		md-input-container{
			margin-right: 30px;
			margin-left: 30px;
		}
    </style>
</head>

<body ng-app="MainApp" ng-cloak="" >


	<div ng-controller="AppCtrl">
		<div ng-include = "'header.html'"></div>
	</div>


	<div ng-controller="AppCtrl" layout="column" class="inputdemoErrors">
	    <md-content layout-padding="">
	        <form name="appProfileForm" ng-submit="registProf()">
	            <div layout="row">
	                <md-input-container flex="50">
	                    <label>Application Name</label>
	                    <input required="" name="appName" ng-model="appProf.appName">
	                    <div ng-messages="appProfileForm.appName.$error">
	                        <div ng-message="required">Please fill in the application name.</div>
	                    </div>
	                </md-input-container>
	                <md-input-container flex="50">
	                    <label>Application Type</label>
	                    <md-select name="appType" ng-model="appProf.appType" required="">
	                    	<md-option ng-repeat="item in appTypeList" value="{{item.id}}">{{item.name}}</md-option>
	                    </md-select>
	                </md-input-container>
	            </div>
				<div layout="row">
		            <md-input-container flex="50">
		                <label>Application IPv4</label>
		                <input md-maxlength="15" required="" md-no-asterisk="" name="ipver4" ng-model="appProf.ipver4">
		                <div ng-messages="appProfileForm.ipver4.$error">
		                   <div ng-message="required">This is required.</div>
		                   <div ng-message="md-maxlength">Please write in IPv4 format.</div>
		               </div>
		            </md-input-container>

					<md-input-container flex="50">
		                <label>Application IPv6</label>
		                <input md-maxlength="23" required="" md-no-asterisk="" name="ipver6" ng-model="appProf.ipver6">
		                <div ng-messages="appProfileForm.ipver6.$error">
		                   <div ng-message="required">This is required.</div>
		                   <div ng-message="md-maxlength">Please write in IPv6 format.</div>
		               </div>
		            </md-input-container>
				</div>


				<md-input-container class="md-block">
	                <label>Description</label>
	                <input md-maxlength="50" required="" md-no-asterisk="" name="description" ng-model="appProf.description">
	                <div ng-messages="appProfileForm.description.$error">
	                   <div ng-message="required">This is required.</div>
	                   <div ng-message="md-maxlength">The description must be less than 50 characters long.</div>
	               </div>
	            </md-input-container>
				<div layout="row">
					<md-input-container flex="50">
		                <label>Application Manager ID</label>
		                <input id ="clientID" required="" type="text" name="clientID" ng-model="appProf.clientID" minlength="5" maxlength="50" style="width:500px;">
		                <md-button type="button" class="md-raised md-defalut" ng-click="idCheck()">ID Check</md-button>
		                <!-- <div ng-messages="appProfileForm.clientEmail.$error" role="alert">
		                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
		                        Your email must be between 10 and 100 characters long and look like an e-mail address.
		                    </div>
		                </div> -->
		            </md-input-container>
		            <md-input-container flex="50">
		                <label>Application Manager Email</label>
		                <input required="" type="email" name="clientEmail" ng-model="appProf.clientEmail" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
		                <!-- <div ng-messages="appProfileForm.clientEmail.$error" role="alert">
		                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
		                        Your email must be between 10 and 100 characters long and look like an e-mail address.
		                    </div>
		                </div> -->
		            </md-input-container>
	        	</div>
				<md-input-container class="md-block">
					<br/>
				    <label>System Notification</label><md-switch name="sbtn_notification" ng-model="appProf.sbtn_notification" ng-change="onNotification()"> : {{appProf.sbtn_notification ? "Agree" : "Disagree"}}</md-switch>
				</md-input-container>



	            <div style="float:right">
	                <md-button type="submit" class="md-raised md-primary">Registeration</md-button>
	                <md-button type="button" class="md-raised md-defalut">Cancle</md-button>
	            </div>
	        </form>
	    </md-content>
	</div>


    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<!--    <script src="/js/app.js"></script>	-->
    <script type="text/javascript">
    	angular.module('MainApp',['ngMaterial'])
	 	.controller('AppCtrl', function($scope, $http, $timeout, $mdSidenav, $mdDialog, $window) {
				$scope.toggleLeft = buildToggler('left');
		    	$scope.toggleRight = buildToggler('right');

		    	$scope.appProf={
		    		appName:'PNU Tube',
		    		ipver4:'255.255.255.255',
		    		ipver6:'255.255.255.255.255.255',
		    		description:'동영상 스트리밍 애플리케이션입니다.',
		    		clientID:'selab',
		    		clientEmail:'selab@pusan.ac.kr',
		    		sbtn_notification:true
		    	};

		    	$scope.appTypeList=[
	                { id:'appType1' , name:'Network Control' },
	                { id:'appType2' , name:'Telephony' },
	                { id:'appType3' , name:'Signaling' },
	                { id:'appType4' , name:'Multimedia Conferencing' },
	                { id:'appType5' , name:'Real-Time Interactive' },
	                { id:'appType6' , name:'Multimedia Streaming' },
	                { id:'appType7' , name:'Broadcast Video' },
	                { id:'appType8' , name:'Low-Latency Data' },
	                { id:'appType9' , name:'OAM' },
	                { id:'appType10' , name:'High-Throughput Data' },
	                { id:'appType11' , name:'Standard' },
	                { id:'appType12' , name:'Low-Priority' }
		    	];


          $scope.idCheck = function() {
            console.log('check id.. from server db')
            console.log($scope.appProf.clientID)
            console.log('http://localhost:8080/Application/'+$scope.appProf.clientID);
            $http({
              method  : 'GET',
              url     : 'http://localhost:8080/Application/'+$scope.appProf.clientID
            }).then(function successCallback(response) {
              console.log('success');
              console.log(response.data);
              if (response.data == 'ture'){
                //DB에 데이터가 있는 경우,
                $window.alert('아이디가 존재합니다.')
              }else {
                //DB에 데이터가 없는 경우,
                if ($window.confirm('아이디가 존재 하지 않습니다. 이 아이디로 하시겠습니까?')) {
                  document.getElementById('clientID').readOnly = true
                  document.getElementById('clientID').style.color = 'gray'
                }
              }
            }, function errorCallback(response) {
              console.log('error occuring');
              console.log(response);
            });
          }

		    	$scope.registProf = function(){
            //아이디 중복확인 체크..
            if (document.getElementById('clientID').readOnly) {
              $http({
                method: 'post',
                url:'http://localhost:8080/Application/registprofile',
                data: $scope.appProf,
                config: 'Content-Type: application/json;'
              }).then(function (response) {
                  console.log(response);
                  $window.location.href = 'http://localhost:8080/pages/dashboard.html';
              }, function (response) {
                  console.log(response);
              });
            }else {
              $window.alert('아이디 중복확인 후 선택해주세요!')
            }

          }
			    $scope.onNotification = function(cbState){
			    	//console.log($scope.appProf.sbtn_notification);
			    };

		    	function buildToggler(componentId) {return function() {
					$mdSidenav(componentId).toggle();
				};

				this.openMenu = function($mdOpenMenu, ev) {
			      originatorEv = ev;
			      $mdOpenMenu(ev);
			    };
		    }
		});
    </script>
</body>

</html>
